@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover 100%;
  background-position: center;
  position: relative;
  margin: 9px;
  border-radius: 50px;
  flex: 0.5;
  cursor: pointer;
  transition: flex 0.5s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}


.panel p {
  opacity: 0;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 20px;
  border-radius: 10px;
  text-shadow: 0 0 5px black;
  color: white;
  line-height: 50px;
  visibility: hidden;
  margin: 10px;
}

.panel.active {
  flex: 5;
  background-blend-mode: multiply;
}

.panel.active p {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-in 0.25s;
}

@media only screen and (max-width: 1360px) {
  .panel p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .panel p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}